*, *::before, *::after{
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: rgb(17, 16, 16);
}

body {
    font-family: Georgia, 'Times New Roman', sans-serif;
    margin: 0px 200px;
    }

a{
    text-decoration: none !important;
    color: rgba(210, 4, 43);
}

    .header {
        display: flex;
        justify-content: right;
    }

    .headerLinks {
        display: inline-flex;
        border-bottom: 1px solid grey;
    }

    .link{
        justify-content: space-between;
        padding: 8px 16px;
        font-size: 24px;
        text-align: center;
    }

.logoTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;

}

    .logoTitle img {
        max-height: auto;
        max-width: 400px;
        justify-content: flex-start;
    }

    #logoh2 h2 {
        font-size: 30px;
        color: white;
        font-style: italic;
        text-align: right;
        min-width: 200px;
    }

.mainBanner {
    display: flex;
    padding: 20px 0px;
    
}
    .leftBanner {
        background-image: url(./practice_website/img/theatre-551797_1920.jpg);
        background-size: 800px;
        background-color: rgba(210, 4, 43);
        padding: 20px 30px;
        color: white;
        text-shadow: 2px 2px black;
        min-width: 300px;
    }

    .leftBanner h1 {
        font-size: 36px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .leftBanner p {
        font-size: 20px;
    }

    .rightBanner {
        background-image: url(./practice_website/img/typewriter.jpg);
        background-color: grey;
        background-size: 1000px;
        color: rgba(210, 4, 43);
        padding: 20px 30px;
        display: flex;
        flex-flow: column wrap;
        min-width: 300px;
    }

    .rightBanner h3 {
        font-weight: bold;
        font-size: 36px;
        text-shadow: 2px 2px black;
        margin: 0px;
        text-align: center;
    }

    .rightBanner p {
        padding: 20px 30px;
        color: white;
        text-shadow: 2px 2px black;
        font-size: 20px;
        text-align: center;
    }
    .rightBanner .container {
        display: flex;
        justify-content: center;
    }

    .rightBanner button {
        background-color: black;
        border-radius: 25px 10px;
        font-size: 20px;
        padding: 10px 15px;
    }
    