*, *::before, *::after{
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

#outerbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 650px;
    width: 650px;
    background-color: red;
}

#container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns:  repeat(var(--numCols), 1fr);
    grid-template-rows:  repeat(var(--numRows), 1fr);
    background-color: white;
    width: 550px;
    height: 550px;
    border: solid 2px black;
}

.cell {
display: flex;
padding: 0px;
}

:root {
    --grid-numCols: 1;
    --grid-numRows: 1;
}