*, *::before, *::after{
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    width: 100;
    height: 100;
    margin: 0;
    background-color: #eee;
}

.vertContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

/* sidebar settings */

.sidebar {
    background-color: orange;
    width: 300px;
    height: 100;
}

    .sidebarContainer {
        padding: 50px;

    }

    .navigation {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
        row-gap: 10px;
        color: white;
        font-size: 1.2rem;
    }

    h1 {
        margin-top: 2px;
        padding-bottom: 25px;
        justify-self: start;
        font-size: 2rem;
        font-weight: bold;
    }

    .navimg {
        justify-self: center;
    }

    .nav {
        justify-self: start;
        margin-top: 5px;
    }

    #comm {
        padding-bottom: 35px;
    }

header {
    display: grid;
    grid-template-areas: 
    "sicon search search search search search alert pp2 name2 name2"
    "pp1 name1 name1 name1 name1 name1 name1 new upload share";
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2 1fr;
    column-gap: 10px;
    row-gap: 0px;
    width: 100%;
    height: 180px;
    padding: 20px 0px;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px #888888;
}

/* Top row of header */

    #searchimg {
        grid-area: sicon;
        justify-self: end;
        align-self: center;
    }

    #searchBar {
        grid-area: search;
        align-self: center;
        border-radius: 25px;
        padding-left: 25px;
        width: 100%;
        height: 35px;
    }

    #alertimg {
        grid-area: alert;
        justify-self: end;
        align-self: center;
    }

    #profilepic2 {
        grid-area: pp2;
        justify-self: end;
        align-self: center;
        height: 60px;
        border: orange solid 3px;
        background-color: orange;
        border-radius: 50%;
        padding: 2px;
    }

    #topText {
        grid-area: name2;
        justify-self: start;
        align-self: center;
        font-size: 1.2rem;
        font-weight: bold;
    }

/* Bottom row of Header */

    #profilepicMain {
        grid-area: pp1;
        height: 80px;
        justify-self: end;
        align-self: center;
        border: orange solid 3px;
        background-color: orange;
        border-radius: 50%;
        padding: 4px;
    }

    #welcome {
        grid-area: name1;
        display: block;
        justify-self: start;
        align-self: center;
        padding-left: 5px;
    }    

    #hi {
        font-size: 1rem;
        margin: 0;
    }

    #bottomText {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
    }

    button {
        height: 45px;
        width: 110px;
        border-radius: 25px;
        background-color: orange;
        color: white;
        outline: none;
        border: none;
        justify-self: center;
        align-self: center;
    }

/* Your project and Announcement headers (forgot to include in orginal grid layout */

.titles {
    display: grid;
    grid-template-columns: 0.67fr 0.33fr;
    justify-items: start;
    padding: 0px 15px;
    margin-top: 25px;
    font-size: 1.1rem;
}
    #announce {
        grid-column-start: 2;
        padding: 0px 20px;
    }

/* Articles section */

.mainContainer {
    display: grid;
    grid-template-columns: 0.67fr 0.33fr;
    background-color: #eee;
    height: 100%;
}
    .articleContainer {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        row-gap: 25px;
        column-gap: 25px; 
        padding: 0px 15px;
        padding-bottom: 25px;
    }

    .article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border-left: blue solid 10px; 
        box-shadow: 5px 5px lightgray;
        border-radius: 15px;
        padding: 10px 35px;
    }

    .article h3 {
        margin-bottom: 0;
        margin-top: 35px;
    }

    .article p {
        margin-top: 0;
    }

    .articleIcons {
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 40px;
        padding-bottom: 20px;
    }

/* Announcement and Trending sections */

.announce_trending_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.10fr 1fr;
    column-gap: 25px;
    padding: 0px 15px;
    padding-bottom: 25px;
}

    .announcement {
        display: grid;
    }

    h5 {
        font-size: 1rem;
        border-top: #888888 1px solid;
        padding-top: 15px;
        margin: 5px;
    }

    .announcement p {
        margin: 5px;
    }

    #first_announcement {
        border-top: none;
        padding-top: 25px;
    }

    .announcement, .trending {
        background-color: white;
        border-radius: 15px;
        padding: 10px 35px;
        box-shadow: 5px 5px lightgray;
    }

    #trending {
        padding: 10px 0px;
        font-size: 1.3rem;
   }

.trending {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.trending img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    justify-self: center;
    align-self: center;
}

    .user {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user h6 {
        font-size: 1rem;
    }

    .user p, .user h6 {
        margin: 2px;
    }

/* Credit at bottom of page */

footer {
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
}